datasets/
mnist_bag/
WSI/
WSI_temp_files/
simclr/runs
simclr/all_patches.csv
weights/
embedder/
test/
test-c16/
.ipynb_checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*/__pycache__/*
__pycache__
*.ipynb
*.txt
*.zip
logs*
hyperparameter_search/
dsmil.py
snuffy.py
test.ipynb
*.pth
gdc-client*
*.log
*.json
*.sh
datasets
wandb/
pt_files
sample_wsi/
survival_analysis/
temp*
weights*
sample_wsi*
analyzer_utils/
FLOPS/
example_aggregator_weights/
docs/
train_camelyon16.py
train_tcga.py